[Desktop Entry]
Name=mythTV frontend
Comment=Record, playback and watch TV.
Icon=mythfrontend
# NO_EGL and --platform flags needed for compatibility with qt6 and wayland
# For further details see https://github.com/MythTV/mythtv/issues/1334#issuecomment-4166180273
# Additional changes may be needed for different environments
Exec=env MYTHTV_NO_EGL=1 /usr/bin/mythfrontend --platform xcb
Terminal=false
Type=Application
