[Unit]
Description=MythTV backend service
After=network.target mysqld.service

[Service]
Type=forking
PIDFile=/var/run/mythbackend.pid
Environment=MYTHCONFDIR=/etc/mythtv
Environment=HOME=/usr/share/mythtv
Environment=MYTHBACKEND_USER=root
EnvironmentFile=-/etc/sysconfig/mythbackend
User=mythtv
ExecStart=/usr/bin/mythbackend --daemon --logfile /var/log/mythtv/mythbackend.log --pidfile /var/run/mythbackend.pid

[Install]
WantedBy=multi-user.target
